body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    height: 38px;   
    border: 1px solid #5f9341;
}

button{
    margin-top: 5px;
    padding: 10px 20px; /* top-bottom and left-right */
    color: #ffff;
    background-color: #5f9341;  
    border: 1px solid #5f9341;
    font-weight: bold;
}
#delete-btn{
    border: 1px solid #5f9341;
    background: white;
    color: #5f9341;
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{  /* only the anchor tags inside the list items -> li a */
    color: #5f9341;
}